@font-face {
    font-family: 'Hasklig';
    src: url('/assets/webfonts/hasklig-regular-webfont.woff2') format('woff2'),
         url('hasklig-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('/assets/webfonts/lato-regular-webfont.woff2') format('woff2'),
         url('/assets/webfonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}